<div class="bar">
	<a href="/">
		<div class="brand">
			<img src="img/logo.svg" />
			<div class="brand">midrent</div>
		</div>
	</a>
	<div class="left-elements">
		<button type="button">S'authentifier</button>
	</div>
</div>
