<div class="filter-bar">
	<div class="btn-group sort-by">
		<button
			class="btn btn-secondary btn-lg dropdown-toggle"
			type="button"
			data-bs-toggle="dropdown"
			aria-expanded="false"
		>
			Trier par
		</button>
		<ul class="dropdown-menu">
			<li><a class="dropdown-item" href="#">Date de publication</a></li>
			<li><a class="dropdown-item" href="#">Du moins cher au plus cher</a></li>
			<li><a class="dropdown-item" href="#">Du plus cher au moins cher</a></li>
		</ul>
	</div>
</div>
