<nav
	class="navbar navbar-dark bg-dark"
	style="padding: 0 70px 0 70px; height: 90px"
>
	<div class="container-fluid">
		<a class="navbar-brand" href="/">
			<img
				src="https://raw.githubusercontent.com/sharry/midrent/main/public/img/logo.svg"
				alt=""
				width="60"
				height="60"
				class="d-inline-block align-text-buttom"
			/>
			midrent
		</a>
		<div class="d-flex">
			<a class="btn btn-primary" href="/login" role="button">Se connecter</a>
		</div>
	</div>
</nav>
