<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>midrent</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="css/main.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</head>
	<body>
		<div class="wrapper">
			<header></header>
			<main><%- body %></main>
			<footer></footer>
		</div>
		<script>
			document.querySelector('.navtoggle').addEventListener('click', () => {
				document.body.classList.toggle('dark')
			})
		</script>
		<script
			src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
			integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
			integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
			crossorigin="anonymous"
		></script>
		<script
			type="module"
			src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
		></script>

		<script>
			$('#deletelocal').on('show.bs.modal', (event) => {
				$('#delete-localid').val($(event.relatedTarget).data('id'))
			})

			let rslt = []

			$('#editLocalForm').on('hidden.bs.modal', (event) => {
				$('#editfurniture').prop('checked', false)
				$('#editwifi').prop('checked', false)
				$('#editgas').prop('checked', false)
				$('#editbills').prop('checked', false)
				$('#savelocal').prop('disabled', true)
				rslt = []
				$('#editimages').empty()
			})
			$('#publishForm').on('show.bs.modal', (event) => {
				$('#publishLocalid').val($(event.relatedTarget).data('id'))
			})
			$('#editLocalForm').on('show.bs.modal', (event) => {
				$('#editlocalid').val($(event.relatedTarget).data('id'))
				$('#editaddress').val($(event.relatedTarget).data('address'))
				$('#editcost').val($(event.relatedTarget).data('cost'))
				$('#editsize').val($(event.relatedTarget).data('size'))
				if ($(event.relatedTarget).data('furniture') === 1) {
					$('#editfurniture').prop('checked', true)
				}
				if ($(event.relatedTarget).data('wifi') === 1) {
					$('#editwifi').prop('checked', true)
				}
				if ($(event.relatedTarget).data('gas') === 1) {
					$('#editgas').prop('checked', true)
				}
				if ($(event.relatedTarget).data('bills') === 1) {
					$('#editbills').prop('checked', true)
				}
				$('#editlocalType').val($(event.relatedTarget).data('localtype'))
				$('#editdistrict').val($(event.relatedTarget).data('district'))
				let imgs = $(event.relatedTarget).data('images').toString().split('@')
				imgs.pop()
				for (let img of imgs) {
					let sub = img.split('#')
					let obj = JSON.parse(`{"id": ${sub[0]}, "url": "${sub[1]}"}`)
					rslt.push(obj)
				}
				for (let i of rslt) {
					console.log(i)
				}
				// $('#editimages').val(urls)
				const enableSaveButton = () => {
					$('#savelocal').prop('disabled', false)
				}
				$('#editdistrict').change(enableSaveButton)
				$('#editlocalType').change(enableSaveButton)
				$('#editaddress').change(enableSaveButton)
				$('#editcost').change(enableSaveButton)
				$('#editsize').change(enableSaveButton)
				$('#editlocaltype').change(enableSaveButton)
				$('#editfurniture').change(enableSaveButton)
				$('#editwifi').change(enableSaveButton)
				$('#editgas').change(enableSaveButton)
				$('#editbills').change(enableSaveButton)
				for (let im of rslt) {
					$('#editimages').append(
						`<div class="img"><img src="${im.url}" alt="${im.id}"/></div>`
					)
				}
			})
		</script>
	</body>
</html>
