<div class="container">
	<div class="card">
		<div class="card-header">Se connecter</div>
		<div class="card-body">
			<% if (typeof (failedMessage) !== "undefined") { %>
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				<%= failedMessage %>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="alert"
					aria-label="Close"
				></button>
			</div>
			<% } %>
			<form action="/login" method="post">
				<div class="form-group mb-3">
					<label for="email">Email</label>
					<input
						type="email"
						name="email"
						class="form-control"
						id="email"
						aria-describedby="emailHelp"
						placeholder="Enter email"
						required
					/>
				</div>
				<div class="form-group mb-3">
					<label for="password">Mot de passe</label>
					<input
						type="password"
						name="password"
						class="form-control"
						id="password"
						placeholder="Password"
						required
					/>
				</div>

				<button type="submit" class="btn btn-primary btn-block">
					Se connecter
				</button>
				<a href="/register" class="btn btn-secondary btn-block"
					>Créer un compte</a
				>
			</form>
		</div>
	</div>
</div>
