@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
/* 
* {
    margin: 0;
    padding: 0;
} */

body {
    --app-color: #1B8CFD;
    --main-color: #E9E9E9;
    --main-mask: rgba(233, 233, 233, .8);
    --accent-color: #2E3138;
    --sinked-color: #E2E2E2;
    font-family: 'Poppins';
    max-width: 100%;
    overflow-x: hidden;
    background: var(--main-color);
}

body.dark {
    --app-color: #1B8CFD;
    --main-color: #2E3138;
    --main-mask: rgba(46, 49, 56, .8);
    --accent-color: #E9E9E9;
    --sinked-color: #252930;
}

.locals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}


.local, .add-new-local {
    width: 300px;
    height: 300px;
    border-radius: 45px;
    background: var(--main-color);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 10px 15px 10px 15px;
    position: relative;
}

.img-responsive {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 45px;
    z-index: 0;
}

.mask {
    width: 100%;
    height: 100%;
    border-radius: 45px;
    background-color: var(--main-mask);
    z-index: 1;
    opacity: .7;
}

.mask-no {
    width: 100%;
    height: 100%;
    border-radius: 45px;
    background-color: var(--main-mask);
    z-index: 1;
}

.mask:hover {
    opacity: 1;
}


.local .title {
    width: 300px;
    height: 75px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    user-select: none;
}

.local .details {
    width: 300px;
    height: 150px;
    user-select: none;
}

.local .details .address {
    width: 300px;
    height: 50px;
    display: flex;
    flex-direction: row;
}

.local .details .address .content {
    display: flex;
    flex-direction: column;
}

.local-type {
    width: 50px;
    height: 50px;
    -webkit-user-drag: none;
    margin-right: 10px;
    background-color: var(--main-color);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}


.local-type>svg {
    fill: var(--accent-color);
}

.local .details .address .content .text {
    width: 200px;
    height: 25px;
}

.local .details .address .content .district {
    width: 200px;
    height: 25px;
}


.local .details .size-cost {
    width: 300px;
    height: 50px;
    display: flex;
}

.local .details .size {
    height: 50px;
    margin-right: 10px;
}
.local .details .size span {
    height: 40px;
    width: 40px;
    margin-left: 10px;
    font-size: 30px;
    background: var(--main-color);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}
.local .details .cost {
    height: 50px;
    display: flex;

}

.local .details .cost .price {
    font-size: 30px;
    height: 40px;
    padding: 0 5px 0 5px;
    background: var(--main-color);
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}

.local .details .cost sub {
    font-size: 11px;
    text-align: right;
}

.local .details .services {
    width: 300px;
    height: 50px;

}


.service {
    width: 40px;
    height: 40px;
    -webkit-user-drag: none;
    margin-left: 10px;
    background: var(--main-color);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 3px;
}

.service>svg {
    stroke: var(--accent-color);
}


.local .buttons {
    width: 300px;
    height: 75px;
}

.center  {
    display: flex;
    align-items: center;
    justify-content: center;
}

.publish {
    position: absolute;
    left: 55px;
    top: 240px;
    width: 180px;
}

.delete {
    position: absolute;
    top: 12px;
    left: 233px;
    width: 40px;
    height: 40px;
    opacity: 0;
}

.delete>svg {
    stroke: var(--accent-color);

}

.local:hover .edit {
    opacity: 1;
}

.local:hover .delete {
    opacity: 1;
}

nav {
    background-color: var(--main-color);

}

.btn {
    margin: 5px;
    border: none;
    border-radius: 10px;
    background: var(--main-color);
    color: var(--accent-color);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);

}


.btn-secondary:hover {
    background: var(--main-color);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    color: var(--accent-color)
}

.btn-secondary:focus {
    background: var(--main-color);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    color: var(--accent-color)
}

.btn-primary:hover {
    background: var(--app-color);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    color: #E9E9E9;
}

.btn-primary:focus {
    background: var(--app-color);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    color: #E9E9E9;
}

.add-new-local>svg {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.local:hover, .add-new-local:hover {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

.city {
    cursor:not-allowed;
}

.icons {
    fill: var(--accent-color);
}

